<!DOCTYPE html>
<html>
<head>
	<title>POST Hello from Flask</title>

</head>
<body>
	{% if name %}
		<h1>Hello {{name}} from POST Request!</h1>
	{% else %}
		<h1>Hello World! from POST Request</h1>
	{% endif %}
</body>
</html>